<header>
    <div class="header-top">
        <!-- Contenedor del logo a la izquierda -->
        <div class="logo-container">
            <img src="/images/logos-ipn.png" alt="Logo IPN" class="logo-image">
            <div class="header-text">UNIDAD PROFESIONAL INTERDISCIPLINARIA CAMPUS TLAXCALA</div>
        </div>
        <!-- Contenedor del icono del perfil a la derecha -->
        <div class="profile-icon-container">
            <img src="/images/perfilDos.png" alt="User Icon" class="profile-icon">
        </div>
    </div>
</header>
