<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div class="header-top">
            <div class="logo-container">
                <img src="/images/logos-ipn.png" alt="Logo IPN" class="logo-image">
                <div class="header-text">UNIDAD PROFESIONAL INTERDISCIPLINARIA CAMPUS TLAXCALA</div>
            </div>
            <div class="profile-icon-container">
                <img src="/images/perfilDos.png" alt="User Icon" class="profile-icon">
            </div>
        </div>
    </header>
    <div>
        <h2>Bienvenido al Sistema de Administración Escolar</h2>
        <p>Esta es una versión sencilla del sistema SAES del IPN.</p>
    </div>
</body>
</html>
